*{
    margin: 0;
    padding: 0;
    border: 0 none;
    list-style: none outside none;
    text-decoration:none;
}
a:link ,a:visited{
    color: black;
}
a:hover ,a:active{
    color: skyblue;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.header,.footer{
    display: flex;
    flex-direction: row;
}
.body{
     display: flex;
     flex-direction: row;
     flex:1;
 }
.header{
    margin: 10px;
}

.left {
    flex:0 0 95px;
}
.right{
 flex:0 0 350px;
}
.center{
    flex:1
}
.header-icon img{
    width: 40px;
    height:40px;
    margin: 6px 20px 0 20px;
}
.header-hyperlink a{
    font-size: 40px;
    color: black;
}
.header-search{
height: 40px;
}
.button{
   width: 60px;
    height:40px;
    background-image: url("file/search-button.png");
    background-size: 55px;
    border: black;
    vertical-align: middle;/*让搜索图标和input对齐*/
}
.segmentation{
    height: 10px;
    background: RGB(227,151,22);
}
.body-nav img {
    width: 95px;
    display: inline;
}
.body-nav{
    background: RGB(24,24,24);
}
.left ul{
    font-size: 0;/*去掉导航栏的空格*/
}
.body-main{
    background: rgb(41,41,42);
    display: flex;
    flex-direction: column;
}
.body-main-top{
    background: url("file/body-main.png") repeat-x;
    height: auto;
    padding: 30px;
    color: white;
}
.body-main-top h2{
    font-size: 60px;
}
.body-main-top p{
    font-size:20px;
    padding-left: 30px;
}
.body-news{
    background: RGB(95,95,95);
}
.body-news div{
    margin: 20px;
    background: white;
    padding:20px;
}
.body-news div h3{
    font-size: 28px;
    font-weight: 900;
}
.body-news div p{
    font-size:14px;
    font-weight: lighter;
    color: black;
}
.body-news button{
    margin: 10px;
    width: 150px;
    height: 30px;
    color: white;
    background: RGB(145,176,237);
}
button:hover,button:active{
    background: black;
}
.footer {
    display: flex;
    flex-direction: column;
}
.footer-first,.footer-second,.footer-third{
    display: flex;
}
.footer-third-left,.footer-third-center,.footer-third-right{
    display: flex;
    flex-direction: column;
}
.footer-first{
    flex:0 0 120px;
}
.footer-first-left{
    background: RGB(44,44,44);
}
.footer-first-center{
    background: RGB(57,57,57);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-first-center img{
    height: 60px;
    padding: auto;
    margin: auto auto auto 30px;
}
.footer-first-center input{
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 200px;
    background:white url("file/e-mail.png") no-repeat;
    background-size: 50px;
    font-size: 25px;
    padding-left: 50px;/*让光标不重合在邮件图标上*/
}
.footer-first-center button{
    margin:auto 30px;/*还是搞不懂margin是啥，为什么能这么玩*/
    font-size: 18px;
    height: 40px;
    width: 120px;
    background: RGB(145,176,237);
    color: white;
    vertical-align: middle;
}
.footer-first-right{
    background: RGB(167,167,167);
    align-items: center;
    display: flex;
}
.footer-first-right p{
    width: 70%;
    margin: auto;
}
.footer-second{
    flex:0 0 90px
}
.footer-second-left{
    background:RGB(24,24,24) ;
}
.footer-second-center{
background: rgb(0,0,0);
    display: flex;
    align-items: center;

}
.footer-second-center  a{
    margin:auto 50px auto auto;
    width: 450px;
}
.footer-second-right{
    background: rgb(42,42,42);
    display: flex;
    align-items: center;
}
.footer-second-right a{
    color: white;
    font-weight: lighter;
    margin:auto 20px;
}
.footer-second-right a strong{
    color: rgb(227,151,22);
}
.footer-third-left img{
    width:95px;
}
.footer-third-center{
    display: flex;
}
.sponsor{
    background: rgb(212,212,212);
    flex: 1;
}
.sponsor p{
    padding: 35px 200px 0 40px;
    font-weight: lighter;
}
.sponsor p a{
    font-weight: bolder;
}
.sponsor >a{
    padding: 35px 200px 0 40px;
}
.sponsor >a:link,.sponsor >a:visited{
    color: rgb(103,169,242);
}
.sponsor >a:hover{
    color: rgb(54,54,54);
}
.adv{
    flex:0 0 150;
    color: rgb(54,54,54);
    background: rgb(190,190,190);
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
}
.sponsor p a:link{
    color: rgb(86,86,86);
    font-weight: bold;
}
/*什么时候导航栏用ul，什么时候直接div啊啊啊啊啊，搞不懂*/
.adv a:hover,.adv a:active,.sponsor p a:hover{
    font-weight: 900;
    color: black;
}
.adv div{
    width: 30%;
    margin: 10px auto 5px 10px;
}
.footer-third-right{
    display: flex;
}
.footer-third-right h4{
    margin: 20px auto 20px 20px;
}
.footer-third-right ul{
    margin: 0 60px 20px 20px;
    font-size: 90%;
}
.footer-third-right{
    display: flex;
}
.button-wrap a{
    margin: 5px auto auto 20px;/*这一段margin效果感觉很奇怪*/
    width: 200px;
    display: block;/*我个智障，行内元素不能设置高度*/
    text-align: center;
    height: 25px;
    color: white;
}
.button-wrap a:link{
    background: rgb(145,176,237);
}
.button-wrap a:hover{
    background: black;
}
.Prompt :hover::after{
    content:url("file/Prompt box.png");
    position: absolute;
}