*{
    margin: 0;
    padding: 0;
    border: 0 none;
    list-style: none outside none;
    text-decoration:none;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.header,.footer{
    display: flex;
    flex-direction: row;
    flex:0
}
.header{
    margin: 5px;
}
.body{
    display: flex;
    flex-direction: row;
    flex:1;
    margin: 0;
    padding:0;
}
.left {
    flex:0 0 70px;
}
.right{
 flex:0 0 350px;
}
.center{
    flex:1
}
.header-icon img{
    width: 40px;
    height:40px;
    margin: 0 20px 0 20px;
}
.header-hyperlink a{
    font-size: 40px;
    text-decoration: none;
    color: black;
}
.header-search{
height: 40px;
}
.button{
   width: 60px;
    height:40px;
    background-image: url("file/search-button.png");
    background-size: 55px;
    padding: 0;
    border: black;
    vertical-align: middle;/*让搜索图标和input对齐*/
}
.segmentation{
    height: 10px;
    background: goldenrod;
}
.body-nav img{
    width:75px;
    display: inline;
}
.left ul{
    font-size: 0;/*去掉导航栏的空格*/
}
