* {
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: skyblue;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    flex-direction: row;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.header {
    margin: 10px;
}

.left {
    flex: 0 0 95px;
}

.right {
    flex: 0 0 350px;
}

.center {
    flex: 1 0 500px;
}

.headerIcon img {
    height: 40px;
    margin: 6px 20px 0 20px;
    width: 40px;
}

.headerHyperLink a {
    color: black;
    font-size: 40px;
}

.headerSearch {
    height: 40px;
}

.button {
    background-image: url("file/search-button.png");
    background-size: 55px;
    border: black;
    height: 40px;
    vertical-align: middle; /*让搜索图标和input对齐*/
    width: 60px;
}

.segmentation {
    background: RGB(227, 151, 22);
    height: 10px;
    flex:1;
}

.bodyNav ul li a img{
    width: 55px;
    margin: 20px 20px 0 20px;
}
#videos{
    width:95px;
    margin:0;
}
.navP{
    visibility: hidden;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}
.bodyNav:hover .navP{
    visibility: visible;
    animation-duration: 0.3s;
    animation-name: slidein;
}
@keyframes slidein {
    from{
        transform: translateX(-80px);
    }
    to{
        transform: translateX(0);
    }
}
.bodyNav {
    background: RGB(24, 24, 24);
}

.left ul {
    font-size: 0; /*去掉导航栏的空格*/
}

.bodyMain {
    background: rgb(41, 41, 42);
    display: flex;
    flex-direction: column;
}

.bodyMainTop {
    background: url("file/body-main.png") repeat-x;
    color: white;
    height: auto;
    padding: 30px;
}

.bodyMainTop h2 {
    font-size: 60px;
}

.bodyMainTop p {
    font-size: 20px;
    padding-left: 30px;
}

.bodyNews {
    background: RGB(95, 95, 95);
}

.bodyNews div {
    background: white;
    margin: 20px;
    padding: 20px;
}

.bodyNews div h3 {
    font-size: 28px;
    font-weight: 900;
}

.bodyNews div p {
    color: black;
    font-size: 14px;
    font-weight: lighter;
}

.bodyNews button {
    background: RGB(145, 176, 237);
    color: white;
    height: 30px;
    margin: 10px;
    width: 150px;
}

button:hover, button:active {
    background: black;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footerFirst, .footerSecond, .footerThird {
    display: flex;
}

.footerThirdLeft, .footerThirdCenter, .footerThirdRight {
    display: flex;
    flex-direction: column;
}

.footerFirst {
    flex: 0 0 120px;
}

.footerFirstLeft {
    background: RGB(44, 44, 44);
}

.footerFirstCenter {
    align-items: center;
    background: RGB(57, 57, 57);
    display: flex;
    justify-content: space-between;
}

.footerFirstCenter img {
    width:30%;
    margin: auto auto auto 30px;
    padding: auto;
}

.footerFirstCenter input {
    background: white url("file/e-mail.png") no-repeat;
    background-size: 50px;
    font-size: 25px;
    height: 40px;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 50px; /*让光标不重合在邮件图标上*/
    width:25%;
}

.footerFirstCenter button {
    background: RGB(145, 176, 237);
    color: white;
    font-size: 18px;
    height: 40px;
    margin: auto 30px; /*还是搞不懂margin是啥，为什么能这么玩*/
    vertical-align: middle;
    width: 120px;
}

.footerFirstRight {
    align-items: center;
    background: RGB(167, 167, 167);
    display: flex;
}

.footerFirstRight p {
    margin: auto;
    width: 70%;
}

.footerSecond {
    flex: 0 0 90px
}

.footerSecondLeft {
    background: RGB(24, 24, 24);
}

.footerSecondCenter {
    align-items: center;
    background: rgb(0, 0, 0);
    display: flex;

}

.footerSecondCenter a {
    margin: auto 50px auto auto;
    width: 450px;
}

.footerSecondRight {
    align-items: center;
    background: rgb(42, 42, 42);
    display: flex;
}

.footerSecondRight a {
    color: white;
    font-weight: lighter;
    margin: auto 20px;
}

.footerSecondRight a strong {
    color: rgb(227, 151, 22);
}

.footerThirdLeft img {
    width: 95px;
}

.footerThirdCenter {
    display: flex;
}

.sponsor {
    background: rgb(212, 212, 212);
    flex: 1;
}

.sponsor p {
    font-weight: lighter;
    padding: 35px 200px 0 40px;
}

.sponsor p a {
    font-weight: bolder;
}

.sponsor > a {
    padding: 35px 200px 0 40px;
}

.sponsor > a:link, .sponsor > a:visited {
    color: rgb(103, 169, 242);
}

.sponsor > a:hover {
    color: rgb(54, 54, 54);
}

.adv {
    background: rgb(190, 190, 190);
    color: rgb(54, 54, 54);
    display: flex;
    flex: 0 0 150;
    flex-wrap: wrap;
    font-size: 25px;
}

.sponsor p a:link {
    color: rgb(86, 86, 86);
    font-weight: bold;
}

/*什么时候导航栏用ul，什么时候直接div啊啊啊啊啊，搞不懂*/
.adv a:hover, .adv a:active, .sponsor p a:hover {
    color: black;
    font-weight: 900;
}

.adv div {
    margin: 10px auto 5px 10px;
    width: 30%;
}

.footerThirdRight {
    display: flex;
}

.footerThirdRight h4 {
    margin: 20px auto 20px 20px;
}

.footerThirdRight ul {
    font-size: 90%;
    margin: 0 60px 20px 20px;
}

.footerThirdRight {
    display: flex;
}

.buttonWrap a {
    color: white;
    display: block; /*我个智障，行内元素不能设置高度*/
    height: 25px;
    margin: 5px auto auto 20px; /*这一段margin效果感觉很奇怪*/
    text-align: center;
    width: 200px;
}

.buttonWrap a:link {
    background: rgb(145, 176, 237);
}

.buttonWrap a:hover {
    background: black;
}

.Prompt :hover::after {
    content: url("file/Prompt box.png");
    position: absolute;
}

.bodyMainContentPara {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

.bodyMainContentPara > div {
    background: white;
    display: flex;
    margin: 0 0 20px 0;
}

.bodyMainContentParaLeft {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.bodyMainContentParaRight {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.bodyMainContentPara a {
    background: rgb(145, 176, 237);
    color: white;
    flex: 0 0 30px;
    font-size: 20px;
    margin: 10px auto 20px 20px;
    text-align: center; /*垂直咋居中忘记了otz*/
    width: 25%;
}

.bodyMainContentPara p {
    font-size: 15px;
    margin: 5px auto 5px 10px;
}

.bodyMainContentPara h1 {
    font-size: 25px;
    margin: 10px;
}

.replace {
    bottom: 100px;
    height: 42px;
    position: fixed;
    right: 50px;
    width: 41px;
}

.replace button {
    background-image: url("file/back to top-white.png");
    background-size: 42px;
    height: 42px;
    padding: 0;
    width: 41px;
}

.replace button:hover {
    background-image: url("file/back tot top-blue.png");
    background-size: 42px;
}